body{
  font-family: monospace;
}

h1 {
  font-weight: bold;
  padding: 1em;
  font-size: 2em;
}
#welcome-section{
  display: flex;
  background-color: #115173;
  justify-content: center;
  color: #eee;
  height: 100vh;
  margin:-10px;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #022c43;
  margin:-10px;
}

#navbar a{
  color: white;
  padding: 1em;
  font-size: large;
  font-weight: bold;
}

#navbar a:hover {
  color: #ffd700;
}

#projects {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #022c43;
  margin:-10px;
}

#projects a{
  color: white;
  padding: 1em;
  font-size: large;
  font-weight: bold;
}

#projects a:hover {
  color: #ffd700;
}

.project-tile{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  width: 80%;
}

@media (max-width: 768px){
  .project-tile{
    background-image: linear-gradient(to left, blue, green, yellow, orange, red);
    width: 80%;
  }
}